.typeBadge {
  z-index: 2;
  text-transform: uppercase;
  position: relative;
  top: -22px;
  left: 5px;
  border-radius: 0;
  font-size: 0.8rem;
  padding: 5px 10px 3px 5px;
  border-left: 5px solid black;
}

.typeBadge::after{
  position: absolute;
  z-index: -1;
  content: "";
  right: -10%;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
