.card {
  height: 100%;
  background-color: rgba(255,255,255,0.05);
  border: 2px solid black;
  color: white
}

.card:hover {
  background-color: rgba(100,0,0,0.2);
  cursor: pointer;
}

.figure {
  overflow: hidden;
}

.portrait {
  border: 1px solid black;
}

.card:hover .portrait {
  transform: scale(1.0005);
}

.displayName {
  background-color: black;
  color: white;
  padding: 5px 1px;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

.addText {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  max-width: 100%;
}