.container {
  width: 100%;
  overflow: hidden;
}

.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 10px;
  
}

.star:before, .star:after {
  content: '';
    
  display: block;
  width: 0;
  height: 0;
    
  position: absolute;
  top: .6em;
  left: -1em;
  
  border-right:  1em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   1em solid transparent;
  
  transform: rotate(-35deg);
}
  
.star:after {  
  transform: rotate(35deg);
}

@media screen and (max-width: 480px){
  .star {
    font-size: 8px;
  }
  
}