.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-content {
  background-color: rgba(0,0,0,0.95);
}

.card, .modal-body {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid black;
  color: white;
}

.card :is(input, select), .modal-body :is(input , select){
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgba(0,0,0, 0.25);
  color: rgba(255,255,255,0.9);
}

.card :is(input:focus, input:active), .modal-body :is(input:active, input:focus) {
  background-color: rgba(0,0,0,0.75);
  color: inherit;
}

a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}

a:hover {
  color: rgba(0,150,255,0.75);
}